html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body.night, html.night {
  background-color: #333;
  color: white;
}

.slideshow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.slideshow-container {
  width: 80%;
  max-width: 1000px;
  height: 60%;
  max-height: 600px;
  position: relative;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
}

.box-slideshow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: Rye;
  width: 80%;
  max-width: 600px;
}

.box-slideshow p {
  color: whitesmoke;
  font-size: 25px;
  margin: 10px 0;
}

.arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrow {
  width: 16px;
  margin: 0 10px;
  animation: lightup 2s infinite;
}

.arrow:nth-child(1) {
  animation-delay: 0s;
}

.arrow:nth-child(2) {
  animation-delay: 0.5s;
}

.arrow:nth-child(3) {
  animation-delay: 1s;
}

@keyframes lightup {
  0% {
    fill-opacity: 0.3;
  }
  33% {
    fill-opacity: 1;
  }
  66% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0.3;
  }
}

/* Responsive styling */
@media (max-width: 1200px) {
  .slideshow-container {
    width: 90%;
    height: 50%;
  }

  .box-slideshow {
    width: 90%;
    padding: 15px;
  }

  .box-slideshow p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .slideshow-container {
    width: 95%;
    height: 40%;
  }

  .box-slideshow {
    width: 95%;
    padding: 10px;
  }

  .box-slideshow p {
    font-size: 18px;
  }

  .arrow {
    width: 12px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .slideshow-container {
    width: 100%;
    height: 30%;
  }

  .box-slideshow {
    width: 100%;
    padding: 5px;
  }

  .box-slideshow p {
    font-size: 16px;
  }

  .arrow {
    width: 10px;
    margin: 0 2px;
  }
}


/* navbar -- adjusted for mobile  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  padding: 10px 20px;
}
.logo img {
  height: auto;
  width: 150px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  color: grey;
  text-decoration: none;
  font-size: 16px;

}
/* Homepage */
.Homepage {
  width: 100%;
  height: auto;

}

.nav-links a:hover {
  color: teal;
  
}
.nav-links a.active {
  color: black;
  font-weight: bold;
}

h2.background-size-slideshow {
  padding: 300px;
  border: 8px solid black;
}

/* About Section */
.About-content {
  text-align: center;
  color: black;
  font-size: 16px;
  padding-bottom: 100px;
}

.App.night .About-content {
  color: white;
}

.About-content h2 {
  font-weight: bold;
  font-family: Rye;
  font-size: 40px;
  padding: 20px;
}
.About-content h3 {
  font-weight: bold;
  font-family: Rye;
    font-size: 30px;

}
.About-paragraph {
  color: black;
  background-color: white;
  width: 75%;
  font-size: 25px;
  font-weight: bold;
  border: 3px solid teal;
  border-radius: 10px;
  font-family: "Jersey";
  padding: 20px;
  box-sizing: border-box;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  margin: 0 auto;
}
 .App.night .About-paragraph {
  color: white;
  background-color: #333; 
  border-color: white; 
}


@media (max-width: 600px) {
  .About-paragraph {
    font-size: 14px;
    padding: 15px;
  }
}

.image-div {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}


.image-div img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 12px -15px 41px 24px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}
.App.night .image-div img {
  border: 1px solid white; /* Change border color to white in dark mode */
}
.About-paragraph {
  font-size: 20px;
}

.image-div img {
  max-width: 50%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .box-button {
  background: none;
  color: white;
} */
/* contact page  */

.contact-form {
  max-width: 400px;
  margin: 200px auto;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.textarea {
  height: 150px;
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
.form-message:empty {
  display: none;
}

.form-message {
  border: 3px solid teal;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  font-family: Rye;
}

/* projects content  */

div.Projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 20px;
}

.card-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.link-buttons {
  margin-top: 20px;
  text-align: center;
}

.link-buttons a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link-buttons a:hover {
  background-color: #0056b3;
}


.video-links {
  margin-top: 10px;
  text-align: center;
}

.video-links a {
  display: block;
  margin-bottom: 5px; 
  color: teal;
  text-decoration: none; 
}

.video-links a:hover {
  text-decoration: underline; 
}
.github-link a {
  color: coral;
  text-decoration: none; 
}
.github-link a:hover {
  text-decoration: underline; 
}

.social-media {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e6e6e6;
  text-align: center;
  padding: 10px 0;
}
.social-media a {
  color: black;
  margin: 0 10px;
}
.social-media a:hover {
  color: coral;
}

.social-media svg {
  width: 24px;
  height: 30px;
}
.footer-bar {
  width: 100%;
  padding: 20px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.social-media a {
  color: black;
}
.toggle-container {
  position: fixed;
  right: 10px; 
  top: 10px; 
  display: inline-block;
  width: 60px; 
  height: 34px;
  margin: 10px;
}

.dn-toggle {
  display: none;
}

.dn-toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 5px; 
}

.dn-toggle-label:before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.dn-toggle:checked + .dn-toggle-label {
  background-color: #666;
}

.dn-toggle:checked + .dn-toggle-label:before {
  transform: translateX(26px); 
}

.App.night .navbar  {
  background-color: #333; 
}
.App.night {
  background-color: #333;
}


.App.night .navbar .nav-links a,
.App.night .navbar .nav-links a.active {
  color: #fff; 
}

.App.night .social-media,
.App.night .footer-bar {
  background-color: #333; 
  color: #fff; 
}

.App.night .social-media a,
.App.night .footer-bar a {
  color: #fff; 
}

.App.night .social-media a:hover,
.App.night .footer-bar a:hover {
  color: coral; 
}
.div.App.day {
  padding-bottom: 20px;

}


.contact-form{
  display: flex;
  padding-bottom: 40px;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}  
