@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo {
  color: lightseagreen;
  font-size: 20px;
  width: 50%;
  height: 100%;
  padding: 30px;
  font-family: "Sedan";
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
main {
  margin-top: 100px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  padding: 10px 50px 30px 0px;
}

.nav-links a {
  display: inline-block;
  padding: 30px 20px;
  color: grey;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: lightseagreen;
}
.nav-links a.active {
  color: burlywood;
}
.slideshow-container {
  position: fixed;
  top: 100px; 
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 51, 51);
}

.mySlides {
  width: auto; /* Adjust width automatically */
  height: calc(100vh - 100px); 
}

.slideshow-image {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
  width: auto; /* Let the browser adjust the width */
  height: auto; /* Let the browser adjust the height */
  object-fit: cover;
}
